body {
    font-family: "Quicksand", sans-serif;
    width: 100vw;
    display: block;
    margin: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

h1 {
    margin: 3rem auto;
    font-size: 2rem;
    text-align: center;
}

.book-container > h2 {
    margin-top: 0;
    text-align: center;
}

.book-container {
    padding-top: 1rem;
}

#book-lists {
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    display: grid;
    align-items: stretch;
    margin-top: 1rem;
}

.text-small {
    margin: 5px 0px;
    font-size: 0.8rem;
}

.form-group {
    margin-bottom: 1rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #495057;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    color: #495057;
    background-color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-text {
    display: block;
    margin-top: 0.25rem;
    color: #6c757d !important;
}

#save-button {
    width: 100%;
    padding: 6px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-color: #007bff;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007bff;
}

#book-form,
.book-container {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ced4da;
    border-radius: 6px;
}

.card {
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .text-title {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.card .text-author {
    font-size: 1rem;
}

.text-danger {
    color: #dc3545 !important;
}
